@{
    ViewData["Title"] = "Sobre o Projeto";
}
<h1>@ViewData["Title"]</h1>

<p>O projeto de Linguagem de Programação do BCC/2 foi iniciado no dia 21/Ago/22.<br />
    Porém devido a falta de tempo por conta de morar em outra cidade e fazer estágio e outras obrigações da Faculdade, o projeto ficou parado.<br />
    Sem ideias para desenvolver o projeto, segui assistindo as aulas presenciais e online e com isso foi usado 
    como base a criação do "Projeto CriptoMoedas" que era desenvolvido pelo professor Almir Camolesi.<br />
    Na útima semana tive a ideia de usar os problemas que encontro no dia-dia do estágio para desenvolver o projeto, assim criando um sistema de Estoque e visualização de items. 

</p>
