@{
    ViewData["Title"] = "Página Inicial";
}

<div class="text-center">
    <h1 class="display-2">Camada de Persistência</h1>
</div>

<div class="text-left">
    <div class="display-4">Nome: Gabriel Mossini <br /> RA: 2111600174 <br /> BCC/2</div>
</div>

