@model projetocripto.Models.Impressora

@{
    ViewData["Title"] = "Registro de Impressoras";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Menu de Registro de Impressoras</h1>

<h4>Insira os dados Abaixo sobre Reset de Impressoras.</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="setor" class="control-label"></label>
                <input asp-for="setor" class="form-control" />
                <span asp-validation-for="setor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="status" class="control-label"></label>
                <select asp-for="status" asp-items="ViewBag.bagStatus" class="form-control">
                    <option selected="selected" value="">Selecione o Status</option>
                </select>
                <span asp-validation-for="status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="data" class="control-label"></label>
                <input asp-for="data" class="form-control" />
                <span asp-validation-for="data" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Criar" class="btn btn-primary" /> |
                <a asp-action="Index" class="btn btn-light">Retornar</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
